@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


.homepage-container{
    font-family: roboto, Arial;
    line-height: 20px;
}


.main-nav-top-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;
}

.main-nav-top-logo .logo-container{
    flex-basis: 60%;

}

.main-nav-top-logo .logo-container img{
    max-width: 100%;
    height: 100%;
}




.login{
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #DC1431;
    border-right: 2px solid;
    margin-right: 8px;
    padding-right: 8px;
}

#login-small:hover{
    text-decoration: underline;
}


.hide-for-large-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    display: block;
    box-shadow: none;
    height: 24px;
    width: 24px;
    margin: 0;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.menu-icon span{
    width: 24px;
    height: 3px;
    top: 10px;
    position: absolute;
    background-color: #DC1431;
    border-radius: 5px;
    transition: all .3s ease-in-out;

}


.menu-icon span::before,
.menu-icon span::after{
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    background: #DC1431;
    border-radius: 5px;
    transition: all .3s ease-in-out;

}

.menu-icon span::before{
    top: -6px
}

.menu-icon span::after{
    bottom: -6px;
}



/* Animation */

.menu-icon.open span{
    transform: translatex(-20px);
    background: transparent;
}

.menu-icon.open span::before{
    transform: rotate(45deg) translate(18px, -9px);
}

.menu-icon.open span::after{
    transform: rotate(-45deg) translate(18px, 9px);
}


.small-search{
    height: 72px;
    border-top: 1px;
    border-style: solid;
    border-color: #9C948F;
    opacity: 70%;
}


.search-form{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 12px;
}

.search-form form input{
    border: solid black;
    border-radius: 4px;
    border-width: 1px;
    padding-right: 38px;
    height: 48px;
    flex-basis: 70%;
}

.search-form form .searchButton{
    border: solid rgb(1, 33, 105) ;
    border-radius: 22px;
    border-width: 1px;
    flex-basis: 30%;
    font-size: 20px;
    padding: 8px 24px;
    margin-left: 12px;
}

.search-form form .searchButton:hover{
    background-color: #4169E1;
    transition: ease .3s;
    color: white;
}

.search-form form input:hover{
    border: solid #4169E1;
    transition: ease .5s;
    border-width: 1px;
}

.columns-nav{
    padding: 0px 8px;
    border-top: 1px;
    border-style: solid;
    border-color: #9C948F;
    opacity: 70%;
    padding-top: 10px;

}


.main-nav-top-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    list-style-type: none;
    height: 512px;
}



.mobile-link{
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    font-size: 16px;

}

.mobile-link:hover{
    cursor: pointer;
    text-decoration: underline;
    border-bottom: solid black;
    border-width: 2px;
}

.headerMenuContainer{
    z-index: -1;
    left: -1000px;
    position: absolute;
}

.headerMenuContainer.open{
    left: 0;
    position: relative;
    transition: ease .3s;

}

.mastheadContainer{
    transition: ease .3s;
}

.mastheadContainer .headlineRow{
    padding-top: 14px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
}

.cardContainer{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardImageColumn{
    left: -58.76px;
}


.cardImageColumn picture img{
    max-width: 100%;

    
}

.cardRow{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1296px;
}

.cardImageColumn{
    flex-basis: 40%;
}

.columnItem{
    margin-left: 30px;
    flex-basis: 45%;
}

.columnItem span a{
    font-size: 20px;
    color: rgb(0, 82, 194);
    text-decoration: none;
}

.columnItem span a:hover{
    text-decoration: underline;
}


/*login.html styling */


/*column 1 and 2 styling */
.column-1-styling{
    border-right: solid 1px #9C948F;
    padding-right: 80px;

}

.column-2-styling{
    margin-top: 10px;
    padding-left: 60px;
}


.login-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.login-logo-container img{
    height: 30px;
    width: 270px;
}

.page-type{
    font-family: roboto;
    font-size: 20px;
    color: rgb(131,115,97);
    padding-top: 3px;
    margin-left: 25px;
}

.style-bar-red{
    background-color: #DC1431;
    padding: 0px 25px;
}

.style-bar-red h1{
    padding: 15px 0px;
    font-family: roboto;
    font-size: 22px;
    color: rgb(255,255,255);
}

.login-columns{
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 80px;

}


.login-columns-flex{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    font-family: roboto;
}

.login-columns-flex h2{
    font-size: 20px;
}

.inputBox{
    border: solid 1px;
    border-color: rgb(204,204,204);
    font-size: 12px;
    padding: 4px 2px;
    width: 209px;
}

.checkbox-input{
    margin-top: 8px;
    margin-bottom: 38px;
    font-size: 13px;
}

.checkbox-input input{
    margin-top: 2px;
    margin-right: 6px;
    border-radius: 50%;

}

#userUserpassword{
    padding: 4px 2px;
    margin-bottom: 24px;

}

.passwordHeader{
    margin-top: 15px;
    padding-bottom: 4px;

}



.user-login-column a{
    font-size: 13px;
    text-decoration: none;
}

#forgotPassword:hover{
    text-decoration: underline;
}

.loginButtonDiv{
    margin-top: 30px;
    padding: 14px 1px;
}

.loginButton{
    background: linear-gradient(rgb(0, 125, 195), rgb(0, 103, 177));
    border-radius: 5px;
    border-color: rgb(18, 78, 137);
    color: rgb(255,255,255);
    padding: 5px 20px;
}

.loginButton:hover{
    background: linear-gradient(rgb(0, 103, 177), rgb(0,125, 195))
}


/* Column 2 inside styling */

.column-2-flexContainer{
    display: flex;
    flex-direction: row;
}

.column-2-paragraph{
    margin-bottom: 5px;
}

.column-2-paragraph p{
    font-size: 18px;
}

.mobile-phone-image img{
    margin-top: 15px;
    width: 149px;
    height: auto;
}

.get-app-content{
    padding-top: 60px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.get-app-content p{
    font-size: 18px;
    padding-bottom: 15px;
}

.get-app-content a{
    padding-top: 10px;
}

.red-app-button{
    background: linear-gradient(rgb(220, 20, 49), rgb(196, 18, 48));
    border-radius: 5px;
    border-color: rgb(187, 41, 43);
    color: rgb(255,255,255);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
}

.red-app-button:hover{
    background: linear-gradient(rgb(196, 18, 48), rgb(220, 20, 49) )
}
