*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}





.row{
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.main-nav-top-large-container{
    clear:both;
}

.main-nav-top-large-container .row{

        background-color: #A3B18A;

}


.main-nav-top-large{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.main-nav-top-large ul{
    display: flex;
    flex-direction: row;
    margin: 4px 0 0;
    list-style: none;
    padding: 0;
}

.main-nav-top-large ul li{
    display: list-item;
    font-size: 14px;
    margin: 0 24px 2px 0;
}

.main-nav-top-large ul li a{
    color: #000;
    text-decoration: none;
    text-underline-offset: 2px;

}

.main-nav-top-large ul li a:hover{
    text-decoration: underline;
    transition: .7ms;
    transition-timing-function: ease;
    text-decoration-thickness: 2px;

}


.menu-container{
    overflow: hidden;
    background-color: #A3B18A;
    position: relative;
    max-height: 800px;
}

.medium-10{
    margin: auto;
    width: 60%;
}


.main-nav-top-items{
    display: flex;
    flex-wrap: wrap;
    height: 280px;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0 0;
    list-style-type: none;
    width: 60%;
}

.main-nav-top-items li{
    max-width: 60%;
    margin: 8px 16px;
}


.main-nav-top-items li a{
    text-decoration-style: solid;
    text-decoration: none;
    color: #000;
}



@media(max-width: 480px){

}

@media(max-width: 768px){
    .main-nav-top-large-container{
        display: none;
    }


    .main-nav-top-items{
        height: 50%;
        max-height: 600px;
        overflow: hidden;
        

    }

    .medium-10{
        width: 90%;
    }
}



}

@media (max-width: 1300px){

}
